# Config file for doti
# https://github.com/ghassan0/doti
# 
# Sample config with detailed settings can be found at:
# https://github.com/ghassan0/doti/blob/main/sample/doti.cfg

# NOTE: treat everything as case-sensitive (only use lower-case to avoid confusion)

[settings]
# Path to directory containing your dotfiles
dotfiles_dir=~/.dotfiles

[home]
doti=add
bat=add
git=add
#glow=remove
#neovim=add
python=add
tmux=add
zsh=add

# linux section: automatically used when linux is detected
[linux-home]
templates=add

[linux-root]
unl0kr=add

[ghassan-c940-home]
electron=add
paru=add
[ghassan-d5i-home]
electron=add
paru=add

[ghassan-c940-root]
pacman=add
ufw=add
[ghassan-d5i-root]
#pacman=add
ufw=add
[ghassan-op6t-root]
nftables=add

# termux section: automatically used when termux is detected
[termux-home]
termux=add
