# FUNCTIONS

# Copy package description to clipboard
getdesc () {
  yay -Si "$@" | grep Description | cut -d":" -f2- | tr -d "\n" | wl-copy
}
# Copy first line of package optional deps to clipboard
getoptl () {
  yay -Si "$@" | grep Optional\ Deps | cut -d":" -f2- | tr -d "\n" | wl-copy
}

